<div class="my-container">
  <div class="title-header">
      <h1 class="text-center">Liste Des Recettes</h1>
  </div>
  <div class= "content">

    <div class="row">
      <% if @recipes %>
        <% @recipes.each do |recipe| %>
          <div class="col-md-4 mb-4"> <!-- Chaque card occupe 4 colonnes -->
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title"><%= recipe[:title] %></h5>
                <hr>
                   <%= image_tag recipe[:photo], alt: "AI-generated image of the recipe" %> 
                <ol class="list-unstyled">
                  <% recipe[:steps].each do |step| %>
                    <li class="card-text"> <%= step %></li>
                  <% end %>
                </ol>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="col-12">
          <p class="text-center">Aucune recette n'a été trouvée.</p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="text-center my-4">
    <%= link_to recipes_new_path do %>
      <button class="bottom-button">Nouvelle recette</button>
    <% end %>
  </div>
</div>
