<h1>Liste des recettes</h1>

<% if @recipes.any? %>
  <ul class="recipe-list">

    <% @recipes.each do |recipe| %>
      <li class="recipe-item">
        <%= link_to recipe.title, recipe_path(recipe), class: "recipe-link" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Aucune recette n'a été trouvée.</p>
<% end %>

<%= link_to "Nouvelle recette", recipes_new_path %>
